doctype html
head
	meta(charset='utf-8')
	link(rel='stylesheet', href='/css/hconv', type='text/css')
	script(src='/coffee/hconv')
body
	textarea(placeholder="Enter your sentences")
	textarea(placeholder="Result will be shown in here")